In [ ]:
ls

In [ ]:
import sqlite3
import tpclean.tpclean as tp
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
tp.sql_connect("database.sqlite")

In [ ]:
tables_df = tp.sql("SELECT * FROM sqlite_master")

In [ ]:
tables_df

In [ ]:
tables_df.tbl_name

In [ ]:
df_list=[]
for name in tables_df.tbl_name:
    df_list.append(tp.sql(f"""SELECT * FROM {name} """))

### df_list[1] and df_list[2] are acutally the same

In [ ]:
d1_d2_df = df_list[1].loc[( (df_list[1].Div == 'D2') | (df_list[1].Div == 'D1') ) & (df_list[1].Season == 2011)]
d1_d2_df.shape

In [ ]:
df_list[3].head()
#contains no further information

In [ ]:
df_list[4].head()
#additional non relevant info for the teams

In [ ]:
df_list[5].head()
# overview of Team-Ids

In [ ]:
df_list[6].head()
#usable overview

In [ ]:
df_list[7].head()
#like nummer 6 with more irrelevant information

In [ ]:
df_list[8].head()
#irrelevant

Name
Sum of Wins
Sum of Losses
Percentage
Year
Home Stadium
Num of Games Played
Goal Counter

In [ ]:
ls

In [ ]:
Season_2011.data.count()

In [ ]:
df3 = tp.sql("""SELECT * FROM FlatView_Advanced WHERE div in ("D1","D2") AND Season = 2011""")

In [ ]:
len(df3)

In [ ]:
df3.drop_duplicates("Match_ID").groupby("Match_ID").count().head()

In [ ]:
df3.groupby("Match_ID").count().head()

In [1]:
import Seasons

In [2]:
Season_2011 = Seasons.Season(2011, ["D1","D2"])

Connection to database.sqlite successfull. with curser <sqlite3.Cursor object at 0x1a23988340>

In [ ]:
Season_2011.create_image_directory()

In [ ]:
Season_2011.teams_list[0].get_rain_win_percentage()

In [ ]:
Season_2011.print_plots();

In [ ]:
team_dict = [tam.__dict__ for tam in Season_2011.teams_list]

In [ ]:
len(team_dict)